{% load static %}

<!DOCTYPE html>
<html lang=”fr”>

<!-- tous les liens: css, police, autres infos... -->
<head>
    <meta charset="utf-8">
    <title>Orchidées emblématiques du Guatemala</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
	<link rel="icon" type="image/png" href="{% static 'icon.png' %}">
</head>

<body>

    <nav>
        <p class ="nav">
            Accueil
        </p>
        <p class ="nav">
            Qui sommes-nous ?
        </p>
        <p class ="nav">
            Contact
        </p>
        <p class ="nav">
            Langue
        </p>
    </nav>
    
    <header>
        <img src="{% static 'img/monja-blanca1.jpg' %}"
             alt="bannière"
             title="L'emblématique monja blanca"
             class="banner" 
             style="object-position: 0% 35%;">
        <h1>Bienvenue sur Lycaste.eu !</h1>
    </header>


    <div class = "content">
        <main>
            <section>
                <h2>Le site dédié aux orchidées<br>emblématiques du Guatemala</h2>
                <p>
                    L'objectif de ce site est de faire connaître les orchidées
                    emblématiques du Guatemala et d'Amérique centrale, en particulier
                    la <a href="ssp/monja-blanca/index.html">Monja blanca</a>,
                    et de contribuer à la démocratisation de leur culture.
                </p><p>
                    Nous croyons que la conservation <i>in situ</i> de toutes les
                    espèces, dont les <i>Lycaste</i>, doit être une priorité absolue.
                    La conservation <i>in situ</i>, qui passe par la préservation des
                    habitats naturels des espèces, demande des politiques publiques
                    ambitieuses et une adhésion du plus grand nombre. Malheureusement,
                    Il n'est pas toujours facile de mettre en place et de maintenir de
                    telles politiques publiques, surtout dans des contextes économiques
                    difficiles.
                </p><p>
                    Ainsi que l'écrit A. Huxley:
                    <q>
                        We can only love what we know, and we can never know completely what we do not love. Love is a mode of knowledge.
                    </q>
                </p><p>
                    Partant de cette philosophie, nous sommes convaincus que la conservation
                    <i>ex situ</i> présente l'intérêt majeur de faire connaître les espèces,
                    et donc de sensibiliser le public aux problématiques de préservation des
                    écosystèmes.
                </p><p>
                    Alors que l'anthropisation réduit les surfaces disponibles pour les espèces
                    les plus sensibles, le braconnage referme l'étau en exerçant une pression
                    supplémentaire sur les populations déjà diminuées.
                </p><p>
                    Nous plaidons que la démocratisation des orchidées les plus rares du Guatemala
                    permet d'une part de les faire connaître, et de faire connaître les enjeux
                    de conservations qui leurs sont associés ; d'autre part que la diffusion de
                    plantes issues de <a href="in-vitro/index.html">culture de masse</a> coupe sous
                    le pied l'herbe des braconneurs d'orchidées.
                </p><p>
                    La démocratisation des orchidées passe d'une part par la démystification
                    de leurs exigences de culture, et d'autre part par la mise à disposition
                    de germplasme à des prix abordables.
                </p>
        </main>
    
        <aside>
            <p>Lycastes du Guatemala</p>
            <p>Autres orchidées</p>
            <p>Biologie des orchidées</p>
            <p>Importance culturelle</p>
            <p>Guides de culture</p>
            <p>Reproduction <i>in vitro</i></p>
            <p>Plantes primées</p>
        </aside>
    </div>
    
    <footer>
    </footer>

</body>

</html>


